.accordion {
    .accordion-item {
        .accordion-header {
            &:hover {
                background: $gray-100;
            }
        }
    }
}
.accordion-filters, .accordions-permissions {
    .accordion {
        --tblr-accordion-btn-padding-y: #{$accordion-filters-btn-padding-y};

        .accordion-body {
            padding: var(--tblr-accordion-body-padding-y) var(--tblr-accordion-body-padding-x) ;
        }
    }
}
