.header {
    .circular {
        width: 3.5em;
        height: 3.5em;
        font-size: 1em;
        color: #1abb9c;
        background: rgba(26, 187, 156, 0.1);
        box-shadow: none;
        border-radius: 500em;
        line-height: 1;
        padding: 0.5em 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .icon {
            --tblr-icon-size: 1.8rem;
        }
        
    }
}