.page-wrapper {
    .page-header {
        top: -1px;
        z-index: 999;
        margin-top: 0;
        padding-top: var(--tblr-page-padding-y);
        padding-bottom: var(--tblr-page-padding-y);

        &.is-sticky {
            position: sticky;
            background: #fff;
            border-bottom: var(--tblr-border-width) solid var(--tblr-border-color);
            box-shadow: var(--tblr-shadow-card);
        }
    }

    .page-body {
        margin-top: 0;
        position: relative;
    }
}

.layout-fluid-crud {
    .navbar, .footer {
        .container,
        [class^="container-"],
        [class*=" container-"] {
          max-width: 100%;
        }
    }
}
