.owl-loader {
    display: flex;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &.modal {
        position: fixed;
        z-index: 9999;
        width: 100vw;
        height: 100vh
    }

    &.content {
        background: rgba(255, 255, 255, 0.5);
    }
}
