/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.owl {
    &.navbar-nav {
        gap: 0.5rem;
    }

    &.navbar-brand-image {
        height: 5.5rem;
    }
}

.navbar-collapse a.nav-link,
.navbar-collapse a.dropdown-item {
    transition: all .1s;

    &:hover {
        color: var(--tblr-primary) !important;
        background: transparent;
    }
}
.navbar {
    .navbar-brand {
        a {
            background-color: #fff;
            padding: 0 0.8rem;
        }

        .navbar-brand-image {
            height: 2.5rem;
        }
    }
}
.navbar-nav {
    --tblr-nav-link-hover-bg: rgba(0, 0, 0, 0.04);
}

.nav-item-user {
    .nav-link {
        &:hover,
        &:focus {
          background-color: var(--#{$prefix}nav-link-hover-bg);
        }
    }
}

.nav {
    &.nav-pills {
        &.nav-show {
            .nav-link {
                &.active {
                    --tblr-nav-pills-link-active-bg: var(--tblr-primary);
                    color: $white;
                }
            }
        }
    }
}
