.owl-grid {
    > .content {
        position: relative;
    }

    .fade {
        transition: opacity 0.2s linear;

        &:not(.show) {
            opacity: 0.2;
        }
    }

    .table-placeholder {
        opacity: 0.2;
    }
}