.owl-grid {
    > .content {
        position: relative;
    }

    .fade {
        transition: opacity .20s linear;

        &:not(.show) {
            opacity: 0.2;
        }
    }

    .faded {
        opacity: 0.2;
    }

    .fade-in {
        opacity: 0.2;
        animation: fadeIn 0.20s ease-in forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0.2;
        }
        to {
            opacity: 1;
        }
    }
}