parameters:
	ignoreErrors:
		-
			message: "#^Method Owl\\\\Bridge\\\\SyliusResource\\\\Controller\\\\ResourcesResolver\\:\\:getResources\\(\\) has parameter \\$repository with generic class Doctrine\\\\ORM\\\\EntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Owl/Bridge/SyliusResource/Controller/ResourcesResolver.php

		-
			message: "#^Method Owl\\\\Bridge\\\\SyliusResource\\\\Controller\\\\ResourcesResolver\\:\\:getResources\\(\\) has parameter \\$repository with generic interface Sylius\\\\Resource\\\\Doctrine\\\\Persistence\\\\RepositoryInterface but does not specify its types\\: T$#"
			count: 1
			path: src/Owl/Bridge/SyliusResource/Controller/ResourcesResolver.php

		-
			message: "#^Method Owl\\\\Bridge\\\\SyliusResource\\\\Doctrine\\\\Orm\\\\Resource\\\\SingleResourceProvider\\:\\:get\\(\\) has parameter \\$repository with generic class Doctrine\\\\ORM\\\\EntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Owl/Bridge/SyliusResource/Doctrine/Orm/Resource/SingleResourceProvider.php

		-
			message: "#^Method Owl\\\\Bridge\\\\SyliusResource\\\\Doctrine\\\\Orm\\\\Resource\\\\SingleResourceProvider\\:\\:get\\(\\) has parameter \\$repository with generic interface Sylius\\\\Resource\\\\Doctrine\\\\Persistence\\\\RepositoryInterface but does not specify its types\\: T$#"
			count: 1
			path: src/Owl/Bridge/SyliusResource/Doctrine/Orm/Resource/SingleResourceProvider.php

		-
			message: "#^Property Owl\\\\Bundle\\\\CoreBundle\\\\Console\\\\Command\\\\AdminUserFakerCommand\\:\\:\\$_hasher is never read, only written\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Console/Command/AdminUserFakerCommand.php

		-
			message: "#^Property Owl\\\\Bundle\\\\CoreBundle\\\\Console\\\\Command\\\\AdminUserFakerCommand\\:\\:\\$_userFactory is never read, only written\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Console/Command/AdminUserFakerCommand.php

		-
			message: "#^Instantiated class Sylius\\\\Component\\\\Resource\\\\Exception\\\\ResourceNotFoundException not found\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Fixture/OptionsResolver/LazyOption.php

		-
			message: "#^PHPDoc tag @return with type \\(Closure\\)\\|null is not subtype of native type Closure\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Fixture/OptionsResolver/LazyOption.php

		-
			message: "#^Throwing object of an unknown class Sylius\\\\Component\\\\Resource\\\\Exception\\\\ResourceNotFoundException\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Fixture/OptionsResolver/LazyOption.php

		-
			message: "#^Class Owl\\\\Bundle\\\\CoreBundle\\\\Form\\\\EventSubscriber\\\\AddOwnerFormSubscriber has @extends tag, but does not extend any class\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Form/EventSubscriber/AddOwnerFormSubscriber.php

		-
			message: "#^Method Owl\\\\Bundle\\\\CoreBundle\\\\Form\\\\EventSubscriber\\\\AddOwnerFormSubscriber\\:\\:__construct\\(\\) has parameter \\$userRepository with generic class Doctrine\\\\ORM\\\\EntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Form/EventSubscriber/AddOwnerFormSubscriber.php

		-
			message: "#^Call to an undefined method Owl\\\\Component\\\\Core\\\\Model\\\\RoleAwareInterface\\:\\:addRole\\(\\)\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Form/EventSubscriber/AddRoleSubscriber.php

		-
			message: "#^Call to an undefined method Owl\\\\Component\\\\Core\\\\Model\\\\RoleAwareInterface\\:\\:removeRole\\(\\)\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Form/EventSubscriber/AddRoleSubscriber.php

		-
			message: "#^Method Owl\\\\Bundle\\\\CoreBundle\\\\Form\\\\Type\\\\UserChoiceType\\:\\:__construct\\(\\) has parameter \\$userRepository with generic class Doctrine\\\\ORM\\\\EntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Form/Type/UserChoiceType.php

		-
			message: "#^Property Owl\\\\Bundle\\\\CoreBundle\\\\Form\\\\Type\\\\UserChoiceType\\:\\:\\$userRepository with generic class Doctrine\\\\ORM\\\\EntityRepository does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Form/Type/UserChoiceType.php

		-
			message: "#^The @extends tag of class Owl\\\\Bundle\\\\CoreBundle\\\\Form\\\\Type\\\\UserChoiceType describes Doctrine\\\\ORM\\\\EntityRepository but the class extends Symfony\\\\Component\\\\Form\\\\AbstractType\\.$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Form/Type/UserChoiceType.php

		-
			message: "#^Return type \\(array\\<int, Yiisoft\\\\Rbac\\\\Permission\\|Yiisoft\\\\Rbac\\\\Role\\>\\) of method Owl\\\\Bundle\\\\CoreBundle\\\\Rbac\\\\DirectPermissionUserProvider\\:\\:getPermission\\(\\) should be compatible with return type \\(array\\<string, mixed\\>\\) of method Owl\\\\Bundle\\\\CoreBundle\\\\Rbac\\\\DirectPermissionUserProviderInterface\\:\\:getPermission\\(\\)$#"
			count: 1
			path: src/Owl/Bundle/CoreBundle/Rbac/DirectPermissionUserProvider.php

		-
			message: "#^Property Owl\\\\Bundle\\\\InvoiceBundle\\\\Validator\\\\NumberFormatInvoiceConstraintValidator\\:\\:\\$translator is never read, only written\\.$#"
			count: 1
			path: src/Owl/Bundle/InvoiceBundle/Validator/NumberFormatInvoiceConstraintValidator.php

		-
			message: "#^Unable to resolve the template type T in call to method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:getRepository\\(\\)$#"
			count: 1
			path: src/Owl/Bundle/UserBundle/Command/AbstractRoleCommand.php

		-
			message: "#^Comparison operation \"\\<\\=\" between 10\\|11\\|12 and 12 is always true\\.$#"
			count: 1
			path: src/Owl/Component/Core/Enum/Grid/Filter/PeriodQuarterEnum.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 10\\|11\\|12 and 10 is always true\\.$#"
			count: 1
			path: src/Owl/Component/Core/Enum/Grid/Filter/PeriodQuarterEnum.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 1\\|2\\|3\\|4\\|5\\|6\\|7\\|8\\|9\\|10\\|11\\|12 and 1 is always true\\.$#"
			count: 1
			path: src/Owl/Component/Core/Enum/Grid/Filter/PeriodQuarterEnum.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 4\\|5\\|6\\|7\\|8\\|9\\|10\\|11\\|12 and 4 is always true\\.$#"
			count: 1
			path: src/Owl/Component/Core/Enum/Grid/Filter/PeriodQuarterEnum.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 7\\|8\\|9\\|10\\|11\\|12 and 7 is always true\\.$#"
			count: 1
			path: src/Owl/Component/Core/Enum/Grid/Filter/PeriodQuarterEnum.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Owl/Component/Core/Enum/Grid/Filter/PeriodQuarterEnum.php

		-
			message: "#^PHPDoc tag @template T for class Owl\\\\Component\\\\Core\\\\Invoice\\\\Snapshot\\\\BuyerSnapshotByContractorAssigner has invalid bound type Owl\\\\Component\\\\Core\\\\Model\\\\BuyerInterface\\.$#"
			count: 1
			path: src/Owl/Component/Core/Invoice/Snapshot/BuyerSnapshotByContractorAssigner.php

		-
			message: "#^Parameter \\$buyerFactory of method Owl\\\\Component\\\\Core\\\\Invoice\\\\Snapshot\\\\BuyerSnapshotByContractorAssigner\\:\\:__construct\\(\\) has invalid type Owl\\\\Component\\\\Core\\\\Model\\\\BuyerInterface\\.$#"
			count: 1
			path: src/Owl/Component/Core/Invoice/Snapshot/BuyerSnapshotByContractorAssigner.php

		-
			message: "#^Property Owl\\\\Component\\\\Core\\\\Invoice\\\\Snapshot\\\\BuyerSnapshotByContractorAssigner\\:\\:\\$buyerFactory has unknown class Owl\\\\Component\\\\Core\\\\Model\\\\BuyerInterface as its type\\.$#"
			count: 1
			path: src/Owl/Component/Core/Invoice/Snapshot/BuyerSnapshotByContractorAssigner.php

		-
			message: "#^Type Owl\\\\Component\\\\Core\\\\Model\\\\BuyerInterface in generic type Owl\\\\Component\\\\Core\\\\Factory\\\\BuyerFactoryInterface\\<Owl\\\\Component\\\\Core\\\\Model\\\\BuyerInterface\\> in PHPDoc tag @param for parameter \\$buyerFactory is not subtype of template type T of Owl\\\\Component\\\\Invoice\\\\Model\\\\Buyer\\\\BuyerInterface of interface Owl\\\\Component\\\\Core\\\\Factory\\\\BuyerFactoryInterface\\.$#"
			count: 1
			path: src/Owl/Component/Core/Invoice/Snapshot/BuyerSnapshotByContractorAssigner.php

		-
			message: "#^Type Owl\\\\Component\\\\Core\\\\Model\\\\BuyerInterface in generic type Owl\\\\Component\\\\Core\\\\Factory\\\\BuyerFactoryInterface\\<Owl\\\\Component\\\\Core\\\\Model\\\\BuyerInterface\\> in PHPDoc type for property Owl\\\\Component\\\\Core\\\\Invoice\\\\Snapshot\\\\BuyerSnapshotByContractorAssigner\\:\\:\\$buyerFactory is not subtype of template type T of Owl\\\\Component\\\\Invoice\\\\Model\\\\Buyer\\\\BuyerInterface of interface Owl\\\\Component\\\\Core\\\\Factory\\\\BuyerFactoryInterface\\.$#"
			count: 1
			path: src/Owl/Component/Core/Invoice/Snapshot/BuyerSnapshotByContractorAssigner.php

		-
			message: "#^PHPDoc tag @var for variable \\$company contains unknown class Owl\\\\Component\\\\Core\\\\Model\\\\Company\\\\CompanyInterface\\.$#"
			count: 1
			path: src/Owl/Component/Core/Invoice/Snapshot/SellerSnapshotByCompanyAssigner.php

		-
			message: "#^PHPDoc tag @param for parameter \\$taxRateSnapshotRepository contains generic type Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface\\<Owl\\\\Component\\\\Invoice\\\\Model\\\\Taxation\\\\TaxRateSnapshotInterface\\> but interface Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface is not generic\\.$#"
			count: 1
			path: src/Owl/Component/Invoice/Assigner/TaxRateSnapshotAssigner.php

		-
			message: "#^PHPDoc type for property Owl\\\\Component\\\\Invoice\\\\Assigner\\\\TaxRateSnapshotAssigner\\:\\:\\$taxRateSnapshotRepository contains generic type Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface\\<Owl\\\\Component\\\\Invoice\\\\Model\\\\Taxation\\\\TaxRateSnapshotInterface\\> but interface Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface is not generic\\.$#"
			count: 1
			path: src/Owl/Component/Invoice/Assigner/TaxRateSnapshotAssigner.php

		-
			message: "#^Class Owl\\\\Component\\\\Invoice\\\\Factory\\\\InvoiceFactory implements generic interface Owl\\\\Component\\\\Invoice\\\\Factory\\\\InvoiceFactoryInterface but does not specify its types\\: T$#"
			count: 1
			path: src/Owl/Component/Invoice/Factory/InvoiceFactory.php

		-
			message: "#^Method Owl\\\\Component\\\\Invoice\\\\Factory\\\\InvoiceFactory\\:\\:__construct\\(\\) has parameter \\$decoratedFactory with generic interface Sylius\\\\Resource\\\\Factory\\\\FactoryInterface but does not specify its types\\: T$#"
			count: 1
			path: src/Owl/Component/Invoice/Factory/InvoiceFactory.php

		-
			message: "#^PHPDoc tag @implements has invalid value \\(InvoiceFactoryInterface\\)\\: Unexpected token \"\\\\n \", expected '\\<' at offset 42$#"
			count: 1
			path: src/Owl/Component/Invoice/Factory/InvoiceFactory.php

		-
			message: "#^PHPDoc tag @param for parameter \\$sequenceRepository contains generic type Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface\\<Owl\\\\Component\\\\Invoice\\\\Model\\\\SequenceInterface\\> but interface Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface is not generic\\.$#"
			count: 1
			path: src/Owl/Component/Invoice/Sequention/Strategy/DateBasedInvoiceSequenceStrategy.php

		-
			message: "#^PHPDoc type for property Owl\\\\Component\\\\Invoice\\\\Sequention\\\\Strategy\\\\DateBasedInvoiceSequenceStrategy\\:\\:\\$sequenceRepository contains generic type Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface\\<Owl\\\\Component\\\\Invoice\\\\Model\\\\SequenceInterface\\> but interface Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface is not generic\\.$#"
			count: 1
			path: src/Owl/Component/Invoice/Sequention/Strategy/DateBasedInvoiceSequenceStrategy.php

