.owl-admin-invoice-form {
    .card-body {
        .sections {
            .input-group {
                .ts-wrapper {
                    &.addable-autocomplete {
                        border-top-left-radius: var(--tblr-border-radius) !important;
                        border-bottom-left-radius: var(--tblr-border-radius) !important;
                    }
                }
                .btn-outline-secondary {
                    border-top-right-radius: var(--tblr-border-radius) !important;
                    border-bottom-right-radius: var(--tblr-border-radius) !important;
                }
            }
        }
    }

    .table-line-items {
        tr {
            th, td {
                &:first-child {
                    padding-left: 0.75rem;
                }
            }
        }
    }
}

.owl-modal-available-series {
    .number-invoice {
        -moz-appearance: textfield;
    
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .field {
        height: 80px;
    }

    .field-invoice-number {
        width: 130px;
    }

    .field-preview {
        padding-top: 0.7rem;
    }
}
