.owl-admin-invoice-form {
    .card-body {

    }
}

.owl-modal-available-series {
    .number-invoice {
        -moz-appearance: textfield;
    
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .field {
        height: 80px;
    }

    .field-invoice-number {
        width: 130px;
    }

    .field-preview {
        padding-top: 0.7rem;
    }
}
